<h1>Shorten a URL</h1>

<%= form_with model: @urllink, remote: true do |form| %>
  <%= form.text_field :original_url %>
  <%= form.submit "Create Short Link"%>
<% end %>

<div id="short-link-errors">

</div>